<?php
return array(
    'resources' => array(
        'db' => array(
            'params' => array(
                'host'     => '##HOST##',
                'username' => '##USERNAME##',
                'password' => '##PASSWORD##',
                'dbname'   => '##DBNAME##'
            ),
            'adapter' => '##ADAPTER##'
        ),
        'cachemanager' => array(
            'database' => array(
                'frontend' => array(
                    'options' => array(
                        'caching' => false
                    )
                ),
                'backend' => array(
                    'name' => 'File',
                    'options' => array(
                        'cache_dir' => ROOT_PATH . DIRECTORY_SEPARATOR . 'data' . DIRECTORY_SEPARATOR . 'cache',
                        'file_name_prefix' => 'firal_database'
                    )
                )
            )
        )
    )
);
