<?php
return array(
    'resources' => array(
        'db' => array(
            'params' => array(
                'host'     => '##HOST##',
                'username' => '##USERNAME##',
                'password' => '##PASSWORD##',
                'dbname'   => '##DBNAME##'
            ),
            'adapter' => '##ADAPTER##'
        )
    )
);
