<?php
$config['phpSettings']['display_startup_errors']    = 1;
$config['phpSettings']['display_errors']            = 1;
$config['phpSettings']['error_reporting']           = (E_ALL | E_STRICT);

$config['resources']['frontController']['throwExceptions'] = true;

$config['resources']['multidb']['master']['host']       = '##HOSTNAME##';
$config['resources']['multidb']['master']['username']   = '##USERNAME##';
$config['resources']['multidb']['master']['password']   = '##PASSWORD##';
$config['resources']['multidb']['master']['dbname']     = '##DATABASE##';

$config['resources']['cachemanager']['database']['frontend']['options']['caching'] = false;
$config['resources']['cachemanager']['database']['backend']['name'] = 'File';
$config['resources']['cachemanager']['database']['backend']['options']['cache_dir'] = ROOT_PATH . DIRECTORY_SEPARATOR . 'data' . DIRECTORY_SEPARATOR . 'cache';
$config['resources']['cachemanager']['database']['backend']['options']['file_name_prefix'] = 'firal_database';
